<!DOCTYPE html>
<html>
<head>
    <title>CS410 Final Project - JDTV - Movie Search Engine</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body>
 <div class="container">
    <center><h1>Movie Search</h1></center>
  <div class="row">    
   <div class="col-xs-8 col-xs-offset-2">
    <form action="/search/" method="post">
        <div class="input-group">
        <input type="text" class="form-control" name="query" id="search" placeholder="Search">
        <span class="input-group-btn">
            <button name="searchBtn" class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
        </div>
    </form>
   </div>
  </div>
</div>

<table>
    <caption>Search Result</caption>
    <thead>
      <tr>
        <th scope="col">Movie Poster</th>
        <th scope="col">Movie Title</th>
        <th scope="col">Year</th>
        <th scope="col">Sentiment</th>
      </tr>
    </thead>
    <tbody>
    {% block content %}
    {% for movie in movieResults %}
        <tr>
            <td scope="row"><img src={{movie.cover_url}}></td>
            <td><a href="/detail/{{movie.movie_id}}">{{movie.localized_title}}</a></td>
            <td><a href="/detail/{{movie.movie_id}}">{{movie.year}}</a></td>
            <td><a href="/detail/{{movie.movie_id}}">{{movie.sentiment}}</a></td>
        </tr>
    {% endfor %}
    {% endblock %}        
    </tbody>
  </table>

</body>
</html>